<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bitter - Sign Up</title>
    <link rel="stylesheet" type="text/css" href="./static/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="./static/main.css"/>
    <script rel="text/javascript" src="./static/jquery-2.1.4.min.js"></script>
    <script rel="text/javascript" src="./static/semantic.min.js"></script>
</head>
<body id="middle">

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <form class="ui form" action="?url=forgetform" method="post">
            <div class="ui grid">
                <div class="thirteen wide column left floated">
                    <div class="ui field">
                        <input type="text" name="username" placeholder="Username">
                    </div>
                    <div class="ui field">
                        <input type="text" name="email" placeholder="email">
                    </div>
                </div>
                <div class="three wide column right floated center aligned middle aligned">
                    <input type="submit" value="Submit" class="ui submit button"/>
                </div>
            </div>
        </form>
        {error}
    </div>
</div>


</body>

</html>