<div class="ui pointing menu" id="header">
    <a class="item" href="?url=homepage">
        Home
    </a>
    <a class="item" href="?url=bleats">
        Bleats
    </a>
    <a class="item" href="?url=listens">
        Listens
    </a>
    <a class="item" href="?url=followers">
        Followers
    </a>

    <div class="right menu">
        <div class="item">
            <form method="get" action="">
                <div class="ui icon input">
                    <input type="text" name="keyword" placeholder="Search...">
                    <input type="hidden" name="url" value="search">
                    <i class="search link icon"></i>
                </div>
            </form>
        </div>
        <a class="ui item" href="?url=settings">
            Settings
        </a>
        <a class="ui item" href="?url=logout">
            Logout
        </a>
    </div>
</div>