<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bitter - Sign Up</title>
    <link rel="stylesheet" type="text/css" href="./static/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="./static/main.css"/>
    <script rel="text/javascript" src="./static/jquery-2.1.4.min.js"></script>
    <script rel="text/javascript" src="./static/semantic.min.js"></script>
</head>
<body id="middle">

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui header teal">
            <div class="content">
                Sign Up your account
            </div>
        </h2>
        {content}
    </div>
</div>


</body>

</html>
